<!DOCTYPE html>

<html>
<body>
	<h1>All Posts</h1>
	<br/>
	
	{% for blogPost in allPosts %}
		
		<h2><a href="{{ url_for('userpost', id = blogPost.id) }}">{{blogPost.postTitle}}</a></h2>
		<br/>
		{{blogPost.date}}
		<br/>
		{{blogPost.name}}
		<br/>
		{{blogPost.article}}

		{% if blogPost.userID == current_user.id %}
		<br/>
		<p><a href="{{ url_for('edit', id = blogPost.id) }}"> Edit</a></p>
		<p><a href="{{ url_for('delete', id = blogPost.id) }}"> Delete</a></p>
		{% endif %}
		<br/>
		<br/>

	{% endfor %}

</body>
</html>