<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../res/styles/ProjectCSS.css">
  <script type="text/javascript" src="../res/js/ProjectJS.js">
  </script>
</head>

<div>
<img src="../res/img/branding/scorpionSC.jpg" alt="logo" style="width:80px;height:80px; float: left; padding-right: 5px";>
<img src="../res/img/branding/scorpionSC.jpg" alt="logo" style="width:80px;height:80px; float: left; padding-right: 5px";>
<img src="../res/img/branding/scorpionSC.jpg" alt="logo" style="width:80px;height:80px; float: left; padding-right: 5px";>
<img src="../res/img/branding/scorpionSC.jpg" alt="logo" style="width:80px;height:80px; float: left; padding-right: 5px";>
<img src="../res/img/branding/scorpionSC.jpg" alt="logo" style="width:80px;height:80px; float: left; padding-right: 5px";>
<img src="../res/img/branding/scorpionSC.jpg" alt="logo" style="width:80px;height:80px; float: left; padding-right: 5px";>
<img src="../res/img/branding/scorpionSC.jpg" alt="logo" style="width:80px;height:80px; float: left; padding-right: 5px";>
<img src="../res/img/branding/scorpionSC.jpg" alt="logo" style="width:80px;height:80px; float: right; padding-left: 5px";>
<img src="../res/img/branding/scorpionSC.jpg" alt="logo" style="width:80px;height:80px; float: right; padding-left: 5px";>
<img src="../res/img/branding/scorpionSC.jpg" alt="logo" style="width:80px;height:80px; float: right; padding-left: 5px";>
<img src="../res/img/branding/scorpionSC.jpg" alt="logo" style="width:80px;height:80px; float: right; padding-left: 5px";>
<img src="../res/img/branding/scorpionSC.jpg" alt="logo" style="width:80px;height:80px; float: right; padding-left: 5px";>
<img src="../res/img/branding/scorpionSC.jpg" alt="logo" style="width:80px;height:80px; float: right; padding-left: 5px";>
<img src="../res/img/branding/scorpionSC.jpg" alt="logo" style="width:80px;height:80px; float: right; padding-left: 5px";>
  <h1>Big Brain Blog</h1>
  <h3>by Scorpion</h3>
</div>


<body>

   <div class="navbar">
    <a href="{{ url_for('generateLandingPage') }}">Home</a> 
    <a href="{{ url_for('generateStaticGiles') }}">Genius Giles</a> 
    <a href="{{ url_for('generateStaticLoysch') }}">Jinormous Josh</a> 
    <a href="{{ url_for('generateStaticEmersyn') }}">E-Girl Emersyn</a>
    <a href="{{ url_for('generatePostsPage') }}">Member Posts</a>
    <a href="{{ url_for('generateStorePage') }}">Store</a>
    <a href="{{ url_for('generateCartPage') }}">Cart</a>
    <a href="{{ url_for('login') }}">Login/Sign-Up</a>
  </div>



  {% for item in displayItems %}

  <h4><center><img src="../res/img/merch/{{item.itemId}}.jpg" alt="Giles" style="width:80px;height:80px; float: left; padding-left: 5px";> {{item.itemName}} x {{item.quantity}}, size= {{item.size}} | ${{item.cost}} 
    <form action="" method="post">
      <button type="{{url_for('generateCartPage')}}" name="remove">Remove</button>
    
    <input type="hidden" id="itemIdentifier" name="itemIdentifier" value="{{item.itemId}}{{item.quantity}}{{item.size}}">
    </form>
  </center></h4>
    
  {% endfor %}

  </body>
</html>
