<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="ProjectCSS.css">
  <script type="text/javascript" src="ProjectJS.js">
  </script>
</head>

<div>
  <img src="scorpionSC.jpg" alt="Giles" style="width:80px;height:80px; float: left; padding-right: 5px";>
<img src="scorpionSC.jpg" alt="Giles" style="width:80px;height:80px; float: left; padding-right: 5px";>
<img src="scorpionSC.jpg" alt="Giles" style="width:80px;height:80px; float: left; padding-right: 5px";>
<img src="scorpionSC.jpg" alt="Giles" style="width:80px;height:80px; float: left; padding-right: 5px";>
<img src="scorpionSC.jpg" alt="Giles" style="width:80px;height:80px; float: left; padding-right: 5px";>
<img src="scorpionSC.jpg" alt="Giles" style="width:80px;height:80px; float: left; padding-right: 5px";>
<img src="scorpionSC.jpg" alt="Giles" style="width:80px;height:80px; float: left; padding-right: 5px";>
<img src="scorpionSC.jpg" alt="Giles" style="width:80px;height:80px; float: right; padding-left: 5px";>
<img src="scorpionSC.jpg" alt="Giles" style="width:80px;height:80px; float: right; padding-left: 5px";>
<img src="scorpionSC.jpg" alt="Giles" style="width:80px;height:80px; float: right; padding-left: 5px";>
<img src="scorpionSC.jpg" alt="Giles" style="width:80px;height:80px; float: right; padding-left: 5px";>
<img src="scorpionSC.jpg" alt="Giles" style="width:80px;height:80px; float: right; padding-left: 5px";>
<img src="scorpionSC.jpg" alt="Giles" style="width:80px;height:80px; float: right; padding-left: 5px";>
<img src="scorpionSC.jpg" alt="Giles" style="width:80px;height:80px; float: right; padding-left: 5px";>
  <h1>Big Brain Blog</h1>
  <h3>by Scorpion</h3>
</div>


<body>

  <div class="navbar">
    <a href="Home.html">Home</a> 
    <a href="Giles.html">Genius Giles</a> 
    <a href="Josh.html">Jinormous Josh</a> 
    <a href="Emersyn.html">E-Girl Emersyn</a>
    <a href="Member.html">Member Posts</a>
    <a href="Store.html">Store</a>
    <a href="Cart.html">Cart</a>
    <a href="Login.html">Login/Sign-Up</a>
  </div>


</body>
</html>